/* Queriendo pasar a mobile first*/  
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
    scroll-padding-top: 7.5rem; /* 48px */ 
    font-size: 100%; /* 16px  es 1 rem*/  
}



body {
    color: black;
    text-align: center;
    /* padding: 20px; */
    background-color: #ffffff;
    /* min-height: 100vh; */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


header {
    margin-top: 1.25rem; /* 20px */
    border-bottom: 0.125rem solid black; /* 2px */
    padding-bottom: 0.625rem;  /* 10px */
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
    display: none;
}

.contenido {
    background-image: url(imagenes/FondoVersion2.jpg);
    
    /* text-align: justify;  */
}


.listaNav {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0.625rem;
    padding: 0.625rem;
    align-items: center;
    font-size: 1.5rem; /* 24px */
    /* color: black; */
    color: black;
    transition: all 0.3s ease;
    
   
}

.listaNav:hover {
    transition: 1.5s;
    /* text-decoration: underline black solid 2px; */
    text-decoration: underline black solid 0.125rem;
    text-underline-offset: 0.375rem;
}

.textoCat {
    font-size: 3.125rem; /* 50px */
    margin: 0 auto;
    margin-top: 2.5rem;;
    margin-bottom: 3.5rem;
    align-self: flex-start; 

}

.textoCat:hover {
    transition: 1.5s;
    text-decoration: underline black solid 0.125rem; /* 2px */
    text-underline-offset: 0.75rem; 
}

.categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 30vh;

}

.categoriaRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-decoration: none;
    list-style: none;
justify-content: center;
}


.categoriaHijos {
    position: relative;
    width: 18.75rem; /* 300px */
    height: 18.75rem; /* 300px */
    overflow: hidden;
}

  
.categoriaHijos img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
.categoriaTexto {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 9.375rem 0; /* 150px */
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.35rem;
  }
  
.categoriaHijos:hover .categoriaTexto {
    opacity: .9;
  }


.articuloPeliculas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*background-image: url(imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: auto; 
    border-top: black solid .125rem; */
    padding-top: 1.25rem; /* Espacio entre el borde superior y el contenido */
    margin-top: .375rem;
    
}

.contenedorHijos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
   
   
}

.articuloImg{
    width: 100%;
    align-self: center;
   
}
.contenidoTexto {
    align-self: center;
    width: 80%;

}


.articuloTexto {
    /* border: green solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: justify;
   
}

.articuloTexto a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem; /* 24px */
}





.articuloPeliculas h2{
    font-size: 2rem;
    text-align: center;

}

.articuloPeliculas2 h2{
    font-size: 2rem;
    text-align: center;

}
.articuloPeliculas p , .articuloPeliculas2 p{
    font-size: 1.5rem;
}

.articuloPeliculas2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*
    background-image: url(imagenes/fondo2.jpg);
    background-repeat: repeat;
    background-size: auto;*/
    padding-top: 1.25rem; /* Espacio entre el borde superior y el contenido */
    margin-top: .375rem;
    
}



.articuloPeliculas img,
.articuloPeliculas2 img {
  width: 100%;
  max-width: 350px; 
  height: 500px;
  object-fit: cover;
}

.articuloPeliculasSecundario {
    margin-top: 3.125rem; /* 50px */
    background-image: url(imagenes/fondo\ nuevo.jpg);
    /* background-color: black; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* border: red solid 2px; */
    
    
}

.articuloPeliculasSecundario img {
  width: 80%;
  max-width: 500px;
  height: auto; /* Reemplaza los 650px fijos para que se adapte */
  object-fit: cover;
}



.contenedorHijosSecundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: blue solid 2px; */
    gap: 1.25rem;
    
}

.contenedorHijosSecundario p {
    font-size:1.2rem;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
}

.footer {
    margin-top: 1.25rem; /* 20px */
    border-top: .125rem solid black;
}


/*.articuloPeliculas img , .articuloPeliculas2 img {
    width: 350px;

}

.articuloPeliculasSecundario img {
    width: 500px;
    height: 650px;
}
*/

.contenido article {
    margin-bottom: 5rem;
    
}


.botonCategoriaPelicula {
    /* border: 2px solid black; */
    text-align: center;
    padding-top: 3.5rem; /* 56px */
}







#fantasia {
    scroll-margin-top: 31rem; /* 512px */
}
#accion {
    scroll-margin-top: 31rem; /* 544px */
}


#animada {
    scroll-margin-top: 31rem; /* 512px */
}

#comediaRom{
    scroll-margin-top: 31rem; /* 512px */
}

.botonSiguienteAnterior {
    font-size: 1.5rem; /* 24px */
    text-decoration: none;
    color: black;
   

}

.articuloSigAnterior{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.botonSiguienteAnterior:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: .5rem; /* 8px */
}

.contenedorFooter{
    /* border: red solid 2px; */
    width: 60%;
    margin: 0 auto;
}


.textoFooter {
    font-size: 1.25rem; /* 20px */;
    margin-top: .375rem; /* 6px */
    margin-bottom: .375rem; /* 6px */
    color: black;
}


.footerIcono {
    width: 2rem; /* 32px */
    height: 2rem; /* 32px */
    margin: 0.625rem; /* 10px */
    margin-top: .8rem;
}

.footerIcono:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: 1.25rem; /* 20px */
}

.seccionSobreMi {
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    justify-content: center;
}

.textoSobreMi {
    /* border: yellow solid 2px; */
    /* align-self: left; */
    text-align: justify;
    width: 30ch;
    /* 20px */
    margin-top: 1.25rem; 
   
    
}

.contenedorSobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue solid 2px; */
    gap: 1.25rem; /* 20px */
    margin-top: 1.25rem; 
    font-size: 1.25rem;
}
.fotoPerfil {
    width: 18.8rem; /* 300px */
    height: 18.8rem; /* 300px */
    border-radius: 100px;
    object-fit: cover;
    
}

iframe {
    width: 80%;
    max-width: 500px;
    height: 25rem;
    border: 0;
    margin: 0 auto;
    margin-top: 30px;
}

.navEscritorio {
    display:none
}

.listaNavResponsive{
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 1.5rem;
    padding: 1rem;
    align-items: center;
    font-size: 1.5rem; 
    color: black; 
    color: black;
    transition: all 0.3s ease;
    
   
}

.listaNavResponsive:hover {
    transition: 1.5s;
    text-decoration: underline black solid 2px; 
    text-decoration: underline black solid 0.125rem;
    text-underline-offset: 0.375rem;
}


/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 1024px) {




    h2 {
        font-size: 2.5rem;
    }

    .contenedorHijosSecundario p {
        font-size: 2rem;
    }


}

/* Estilo para escritorio */
@media (min-width: 1024px) {

    html {
        scroll-padding-top: 7.5rem;
    }

    #fantasia {
    scroll-margin-top: 7.5rem; /* 120px */
    }

    #accion {
        scroll-margin-top: 9.375rem; /* 150px */
    }

    #animada {
        scroll-margin-top: 7.5rem; /* 120px */
    }

    #comediaRom{
        scroll-margin-top: 7.5rem; /* 120px */
    }


    .navEscritorio {
        display: block;
        width: 100%;
    }
    
    .navEscritorioLista {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        list-style: none;
        padding: 0;
    }

    .liEscritorio {
        display: inline-block;
        margin: 0;
    }
    
    .navEscritorio p {
        margin: 0 1rem;
        text-align: center;
    }

    .navResponsive {
        display: none;
    }

    .textoCat {
        margin-top: 6.25rem;  
        margin-bottom: 9.375rem; 
        align-self: flex-start; 
        margin-left: 12.5rem; 
    }

    .articuloPeliculas {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .articuloPeliculas2 {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
    }



    .articuloTexto{
        margin-left: 10%;
        width: 60ch;
        text-align: justify;
    }

   

      .articuloTexto a {
        margin-left: 6%;

    }

    .articuloTexto a:hover {
        transition: .5s ease;
        background-color: rgb(197, 196, 196);
        border-radius: .5rem; /* 8px */

}
  
    .contenedorHijos{
        flex-direction: row;
        margin-bottom: 12rem;
        width: 75%;
    }


    .articuloPeliculas h2 , .articuloPeliculas2 h2{
        /* border: 5px solid green;*/
        height: 100px;
    }


    .articuloPeliculas img,
    .articuloPeliculas2 img {
        max-width: 450px; /* O el tamaño que quieras para escritorio */
        height: 600px;
  }
  
    .articuloPeliculasSecundario img {
        max-width: 450px;
        height: 600px;
        width: 100%;
  }

    .articuloPeliculasSecundario {
        display: flex;
        flex-direction: row;
    }

    .contenedorHijosSecundario {
        display: flex;
        flex-direction: row;
        
    }

    .contenedorHijosSecundario p {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    img {
        max-width: 400px;
  }

    .botonCategoriaPelicula {
        text-align: center;
        
  }


    .seccionSobreMi{
        flex-direction: column;
        margin-top: 2.5rem;
        
        
    }

    .contenedorSobreMi {
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem; /* 20px */
        font-size: 1.5rem;
        width: 100%;
        
    }

    .fotoPerfil {
        margin-top: -3.5rem;
        width: 18.8rem; /* 300px */
        height: 18.8rem; /* 300px */
    }

}


/* Añade esto al final de tu archivo CSS

@media screen and (max-width: 768px) {
    .contenedorHijos {
        flex-direction: column-reverse; /* Cambia la dirección para que la imagen quede abajo 
        align-items: center;
        gap: 30px;
    }
    
    .articuloPeliculas img {
        width: 80%; /* La imagen se ajustará al 80% del ancho disponible
        max-width: 350px;
    }
    
    .articuloTexto {
        width: 90%;
        margin-top: 0;
    }
    
    h2 {
        margin-bottom: 20px;
        padding: 0 10px;
    }
    
    .botonCategoriaPelicula {
        padding-top: 30px; /* Reduce el padding superior en pantallas pequeñas 
    }

    article {
        background-image: none;
    }
}

 Para pantallas aún más pequeñas 
@media screen and (max-width: 480px) {
    .contenedorHijos {
        margin-bottom: 150px; /* Reduce el margen entre artículos 
    }
    
    .articuloPeliculas img {
        width: 95%;
    }
} 



Antes de mobile first:
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
    scroll-padding-top: 120px; 
    font-size: 100%; /* 16px  es 1 rem
}



body {
    color: black;
    text-align: center;
    /* padding: 20px; 
    background-color: #ffffff;
    /* min-height: 100vh; 
    font-size: 1rem;
    

}

header {
    margin-top: 1.25rem; /* 20px 
    border-bottom: 0.125rem solid black; /* 2px 
    padding-bottom: 0.625rem;  /* 10px 
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
    display: none;
}



.listaNav {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0.625rem;
    padding: 0.625rem;
    align-items: center;
    font-size: 1.5rem; /* 24px 
    /* color: black; 
    color: black;
    transition: all 0.3s ease;
    
   
}

.listaNav:hover {
    transition: 1.5s;
    /* text-decoration: underline black solid 2px; 
    text-decoration: underline black solid 0.125rem;
    text-underline-offset: 0.375rem;
}

.textoCat {
    font-size: 3.125rem; /* 50px 
    margin-top: 6.25rem; /* 100px 
    margin-bottom: 9.375rem; /* 150px 
    align-self: flex-start; 
    margin-left: 12.5rem; /* 200px 
}

.textoCat:hover {
    transition: 1.5s;
    text-decoration: underline black solid 0.125rem; /* 2px 
    text-underline-offset: 0.375rem; /* 6px 
}

.categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 30vh;

}

.categoriaRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    align-items: center;
}


.categoriaHijos {
    position: relative;
    width: 18.75rem; /* 300px 
    height: 18.75rem; /* 300px 
    overflow: hidden;
}

  
.categoriaHijos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
.categoriaTexto {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 9.375rem 0; /* 150px 
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.categoriaHijos:hover .categoriaTexto {
    opacity: .9;
  }


.articuloPeliculas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    
}

.articuloPeliculas h2 {
    font-size: 2rem;

}

.articuloPeliculas p {
    font-size: 1.5rem;
}

.articuloPeliculas2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(imagenes/fondo2.jpg);
    background-repeat: repeat;
    background-size: auto;
    margin-top: 9.375rem; /* 150px 
    
}

.articuloPeliculasSecundario {
    margin-top: 3.125rem; /* 50px 
    background-image: url(imagenes/fondo3.jpg);
    /* background-color: black; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* border: red solid 2px; 
    
    
}


/*.articuloPeliculas img , .articuloPeliculas2 img {
    width: 350px;

}

.articuloPeliculasSecundario img {
    width: 500px;
    height: 650px;
}


.articuloPeliculas img,
.articuloPeliculas2 img {
  width: 100%;
  max-width: 350px; 
  height: 350px;
  object-fit: cover;
}

.articuloPeliculasSecundario img {
  width: 100%;
  max-width: 500px;
  height: auto; /* Reemplaza los 650px fijos para que se adapte 
  object-fit: cover;
}

.contenedorHijos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: red solid 2px; 
    gap: 1.25rem; /* 20px 
    margin-bottom: 12rem; /* 192px 

}

.contenedorHijosSecundario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: blue solid 2px; 
    gap: 1.25rem;
    
}


.botonCategoriaPelicula {
    /* border: 2px solid black; 
    text-align: center;
    padding-top: 9.375rem; /* 150px 
}



.articuloTexto {
    width: 60ch;
    /* border: green solid 2px; 
    align-self: center;
    margin-top: 10%;
    
    
}

.articuloTexto a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem; /* 24px 

}

.articuloTexto a:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: .5rem; /* 8px 

}



#fantasia {
    scroll-margin-top: 7.5rem; /* 120px 
}

#accion {
    scroll-margin-top: 9.375rem; /* 150px 
}

#animada {
    scroll-margin-top: 7.5rem; /* 120px 
}

.botonSiguienteAnterior {
    font-size: 1.5rem; /* 24px 
    text-decoration: none;
    color: black;

}

.botonSiguienteAnterior:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: .5rem; /* 8px 
}

.contenedorFooter{
    /* border: red solid 2px; 

    width: 40%;
    margin: 0 auto;
}


.textoFooter {
    font-size: 1.25rem; /* 20px 
    margin-top: .375rem; /* 6px 
    margin-bottom: .375rem; /* 6px 
    color: black;
}


.footerIcono {
    width: 2rem; /* 32px 
    height: 2rem; /* 32px 
    margin: 0 .625rem; /* 10px 
}

.footerIcono:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: 1.25rem; /* 20px 
}

.seccionSobreMi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: red solid 2px; 
    justify-content: center;

}

.textoSobreMi {
    /* border: yellow solid 2px; 
    align-self: left;
    width: 30ch;
    margin-top: 1.25rem; /* 20px 
}

.contenedorSobreMi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: blue solid 2px; 
    gap: 1.25rem; /* 20px 
}
.fotoPerfil {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    object-fit: cover;
}


 Estilo para escritorio 
@media (min-width: 1024px) {
    .articuloPeliculas img,
    .articuloPeliculas2 img {
        max-width: 450px; /* O el tamaño que quieras para escritorio 
        height: 600px;
  }
  
    .articuloPeliculasSecundario img {
        max-width: 450px;
        height: 600px;
  }
    img {
        max-width: 400px;
  }
    


*/


