/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    /* color:black */
    text-align: center;
    /* padding: 20px; */
    /* background-color: #ffffff; */
    background-image: url(imagenes/telon.jpg);
    background-attachment: fixed; /* Esto es clave para mantener el fondo estable */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

header {
    margin-top: 10px;
    margin-bottom: 5px;
    /* border-bottom: 2px solid black; */
    border-bottom: 2px solid rgb(255, 252, 252);
    width: 100%;
}

 aside {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    /* background-color:rgb(184, 214, 49); */
    height: 800px;
} 

section {
    display: inline-block;
    width: 85%;
    /* background-color: rgb(184, 214, 49); */
    height: 800px;
}

iframe {
    width:800px;
    height:450px;
    margin: 20px auto;
    
}



.listaNav {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 10px;
    padding: 10px;
    align-items: center;
    font-size: 18px;
    /* color: black; */
    color: white;
    transition: all 0.3s ease;
   
}

.listaNav:hover {
    transition: 1.5s;
    /* text-decoration: underline black solid 2px; */
    text-decoration: underline white solid 2px;
    text-underline-offset: 6px;
}

.listaNavSecun {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;

}

.listaNavSecundariaLinks {
    display: inline-block;
    text-decoration: none;
    /* color: black; */
    color: white;
    text-align: left;
    margin-top: 10px;
}

.listaNavSecundariaLinks:hover {
    transition: 1.5s;
        /* text-decoration: underline black solid 2px; */
        text-decoration: underline white solid 2px;
}



.meme {
    width: 800px;
    height: 700px;
}


.fotoPerfil {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 140px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
}

.bienvenida {
    height: 863px;
    position: relative;
    /* border: white 2px solid; */
    width: 85%;
    
}
.bienvenida img {
    margin: 20px 0;
}

.idea1 {
    display: inline-block;
    /* border: red 2px solid; */
    position: absolute;
    height: 600px;
    width: 500px;
    top: 20%;
    left: 2.8%;
    opacity: 1;
}


.idea1Texto:hover {
    transition: 1s ease;
    opacity: 1;
} 
.idea1Texto {
    display: inline-block;
    position: absolute;
    height: 500px;
    width: 400px;
    top: 13.4%;
    left: 10%;
    opacity: 0;;
    background-color: black;
}


 .idea2 {
    /* border: red 2px solid; */
    display: inline-block;
    position: absolute;
    height: 600px;
    width: 500px;
    top: 20%;
    left: 34%;
    opacity: 1;;

} 

.idea2Texto {
    display: inline-block;
    position: absolute;
    height: 500px;
    width: 400px;
    top: 13.4%;
    left: 10%;
    opacity: 0;
    background-color: black;
} 

.idea2Texto:hover {
    transition: 1s ease;
    opacity: 1;
} 



.idea3{
    /* border: red 2px solid; */
    display: inline-block;
    position: absolute;
    height: 600px;
    width: 500px;
    top: 20%;
    left: 66%;

}

.idea3Texto {
    display: inline-block;
    position: absolute;
    height: 500px;
    width: 400px;
    top: 13.4%;
    left: 10%;
    opacity: 0;
    background-color: black;
} 

.idea3Texto:hover {
    transition: 1s ease;
    opacity: 1;
} 


.descripcionPelicula {
    font-size: 20px;
    justify-content: center;

}

.topPelicula {
    display: inline-block;
    position: absolute;
    height: 500px;
    width: 400px;
    top: 10%;
    left: 10%;
    /* border: green 2px solid; */
}

.contenedorInspiraciones {
    display: inline-block;
    margin: 50px;
    width: 400px;
    height: 300px;
    vertical-align: top;
    /* border: green 2px solid;*/
}

.fotosInspiraciones {
    display: inline-block;
    width: 300px;
    margin-top: 10px;
}

.inpiraciones {
    width: 85%;
    /* background-color: rgb(214, 136, 136); */
    height: 840px;
    /* background-color: dimgray; 
    border: red 2px solid;*/
    margin-top: 20px; margin-bottom: 20px;
}

.titulosUnderline {
    text-decoration: underline 2px ; 
    text-underline-offset: 6px;
    margin-bottom: 5px; 
}

