/* Queriendo pasar a mobile first*/  
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
    scroll-padding-top: 7.5rem; /* 48px */ 
    font-size: 100%; /* 16px  es 1 rem*/  
}



body {
    color: black;
    text-align: center;
    /* padding: 20px; */
    background-color: #ffffff;
    /* min-height: 100vh; */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


header {
    margin-top: 1.25rem; /* 20px */
    border-bottom: 0.125rem solid black; /* 2px */
    padding-bottom: 0.625rem;  /* 10px */
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
    display: none;
}

.contenido{
    background-image: url(imagenes/FondoVersion2.jpg);
    background-size: fill; /* Cubre toda el 치rea */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-position: center;
}


.listaNav {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0.625rem;
    padding: 0.625rem;
    align-items: center;
    font-size: 1.5rem; /* 24px */
    /* color: black; */
    color: black;
    transition: all 0.3s ease;
    
   
}



.textoCat {
    font-size: 3.125rem; /* 50px */
    margin: 0 auto;
    margin-top: 2.5rem;;
    margin-bottom: 3.5rem;
    align-self: flex-start; 

}

.textoCat:hover {
    transition: 1.5s;
    text-decoration: underline black solid 0.125rem; /* 2px */
    text-underline-offset: 0.75rem; 
}

.categorias {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 30vh;

}

.categoriaRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-decoration: none;
    list-style: none;
justify-content: center;
}


.categoriaHijos {
    position: relative;
    width: 18.75rem; /* 300px */
    height: 18.75rem; /* 300px */
    overflow: hidden;
}

  
.categoriaHijos img {
    width: 100%;
    max-width: 270px;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  
.categoriaTexto {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 9.375rem 0; /* 150px */
    opacity: 1;
    font-size: 1.35rem;
  }
  


.articuloPeliculas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*background-image: url(imagenes/fondo.jpg);
    background-repeat: repeat;
    background-size: auto; 
    border-top: black solid .125rem; */
    padding-top: 1.25rem; /* Espacio entre el borde superior y el contenido */
    margin-top: .375rem;
    
}

.contenedorHijos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: rgba(255, 255, 255, 0.9); /* fondo blanco semitransparente */
    box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
    -webkit-box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
    -moz-box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
    width: 80%;
    border: 2px solid black;
    align-self: center;

}

.articuloImg{
    width: 100%;
    align-self: center;
   
}
.contenidoTexto {
    align-self: center;
    width: 100%;

}


.articuloTexto {
    /* border: green solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 90%;
    margin: 10% auto;
   
}

.articuloTexto a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem; /* 24px */
    border: 2px solid black;
    background-color: rgba(242,54,54,0.56);
    width: 80%;
    text-align: center;
}





.articuloPeliculas h2{
    font-size: 2rem;
    text-align: center;

}

.articuloPeliculas2 h2{
    font-size: 2rem;
    text-align: center;

}
.articuloPeliculas p , .articuloPeliculas2 p{
    font-size: 1.5rem;
}

.articuloPeliculas2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*
    background-image: url(imagenes/fondo2.jpg);
    background-repeat: repeat;
    background-size: auto;*/
    padding-top: 1.25rem; /* Espacio entre el borde superior y el contenido */
    margin-top: .375rem;
    
}



.articuloPeliculas img,
.articuloPeliculas2 img {
  width: 100%;
  max-width: 280px; 
  height: 400px;
  object-fit: cover;
}

.articuloPeliculasSecundario {
    margin-top: 2rem; /* 50px */
    background-image: url(imagenes/fondo\ nuevo.jpg);
    /* background-color: black; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* border: red solid 2px; */
    
    
}




.contenedorHijosSecundario {
    justify-content: center;
    /* border: blue solid 2px; */
    gap: 1.25rem;
    
    
}

.contenedorHijosSecundario p {
    font-size:1.2rem;
    text-align: justify;
    
}

.footer {
    border-top: .125rem solid black;
    
}


/*.articuloPeliculas img , .articuloPeliculas2 img {
    width: 350px;

}

.articuloPeliculasSecundario img {
    width: 500px;
    height: 650px;
}
*/

.contenido article {
    margin-bottom: 5rem;
    
}


.botonCategoriaPelicula {
    /* border: 2px solid black; */
    text-align: center;
    padding-top: 3.5rem; /* 56px */
}







#fantasia {
    scroll-margin-top: 31rem; /* 512px */
}
#accion {
    scroll-margin-top: 31rem; /* 544px */
}


#animada {
    scroll-margin-top: 31rem; /* 512px */
}

#comediaRom{
    scroll-margin-top: 31rem; /* 512px */
}

.botonSiguienteAnterior {
    font-size: 1.5rem; /* 24px */
    text-decoration: none;
    color: black;
        border: 2px solid black;
    background-color: rgba(242,54,54,0.56);
    border-radius: .625rem;
        padding-left: 2.25rem;
    padding-right: 2.25rem;
    background-color: white;
    

}
.botonSiguienteAnteriorMas {
    font-size: 4rem;
    text-decoration: none;
    padding: 2rem;
            padding-top: 0;
        padding-bottom: 0;
    color: black;
}

.footerMas {
    border-top: 2px solid black;
}

.articuloSigAnterior{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* Estilos mejorados para el formulario en versi칩n m칩vil */
#contacto {
    width: 80%;
    margin: 2rem auto 3rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(242, 54, 54, 0.8);;
}

.iconoContacto {
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;

}

.contactoFormulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 6px 8px rgba(242, 54, 54, 0.2);
    max-width: 90%;
}

.contactoFormulario input,
.contactoFormulario textarea {
    width: 90%;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.contactoFormulario input:focus,
.contactoFormulario textarea:focus {
    outline: none;
    border-color: rgba(242, 54, 54, 0.8);
    box-shadow: 0 0 0 2px rgba(242, 54, 54, 0.2);
}

.contactoFormulario textarea {
    font-size: 1.25rem;
    resize: none;
    height: 8rem;
    margin-bottom: 1.5rem;
}

.contactoFormulario input[type="submit"] {
    width: 80%;
    background-color: rgba(242, 54, 54, 0.8);
    color: white;
    font-size: 1.25rem;
    border: none;
    padding: 0.8rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contactoFormulario input[type="submit"]:hover,
.contactoFormulario input[type="submit"]:focus {
    background-color: rgba(242, 54, 54, 1);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

::placeholder {
    opacity: 0.6;
    color: #888;
    font-size: 1rem;
}




.contenedorFooter{
    /* border: red solid 2px; */
    width: 60%;
    margin: 0 auto;
}


.textoFooter {
    font-size: 1.25rem; /* 20px */;
    margin-top: .375rem; /* 6px */
    margin-bottom: .375rem; /* 6px */
    color: black;
}


.footerIcono {
    width: 2rem; /* 32px */
    height: 2rem; /* 32px */
    margin: 0.625rem; /* 10px */
    margin-top: .8rem;
}

.footerIcono:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);
    border-radius: 1.25rem; /* 20px */
}

.seccionSobreMi {
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
    justify-content: center;
}

.textoSobreMi {
    /* border: yellow solid 2px; */
    /* align-self: left; */
    text-align: justify;
    width: 30ch;
    /* 20px */
    margin-top: 1.25rem; 
   
    
}

.contenedorSobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue solid 2px; */
    gap: 1.25rem; /* 20px */
    margin-top: 1.25rem; 
    font-size: 1.25rem;
}
.fotoPerfil {
    width: 18.8rem; /* 300px */
    height: 18.8rem; /* 300px */
    border-radius: 100px;
    object-fit: cover;
    
}

iframe {
    width: 80%;
    max-width: 500px;
    height: 25rem;
    border: 0;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

    .navEscritorioLista{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    
    .navEscritorio p {
        margin: 0 1rem;
        text-align: center;
        display: none;
    }

.textoSecu{
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.iconoLeermas {
    width: 3.15rem;/* 50px */
    height: 3.15rem; /* 50px */ 

}
.titulosLeerMas {
    display: inline-block;
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: rgb(231, 128, 128);
    box-shadow: -6px -3px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px -3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px -3px 0px 0px rgba(0,0,0,0.75);
    width: 14rem;
}
.iconoLeermas {
  vertical-align: middle;
}

.calificacion {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.calificacion li{
    display: inline;
    
}

.calificacion img {
    width: 2.5rem; /* 24px */
    height: 2.5rem; /* 24px */
    vertical-align: middle;
}

.generoLeerMas {
    margin-bottom: 2rem;
    
}


/* Estilo para tablets */
@media (min-width: 730px) and (max-width: 1025px) {

    .iconoContacto{
        width: 7rem;
        height: 7rem;
    }

    .listaNav{
        font-size: 1.65rem;
    }

    #contacto {
        height: auto;
        
    }


    h2 {
        font-size: 2.5rem;
    }

    .contenedorHijosSecundario p {
        font-size: 1.5rem;
    }
    .contenedorHijosSecundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .categoriaHijos img{
        max-width: 300px;
    }

    .articuloPeliculas img,
.articuloPeliculas2 img {
  width: 100%;
  max-width: 300px; 
  height: 450px;
  object-fit: cover;
}

    .generoLeerMas{
        width: auto;
        
    }



}

/* Estilo para escritorio */
@media (min-width: 1025px) {

    

    html {
        scroll-padding-top: 7.5rem;
    }

    #fantasia {
    scroll-margin-top: 7.5rem; /* 120px */
    }

    #accion {
        scroll-margin-top: 9.375rem; /* 150px */
    }

    #animada {
        scroll-margin-top: 7.5rem; /* 120px */
    }

    #comediaRom{
        scroll-margin-top: 7.5rem; /* 120px */
    }


    .textoCat {
        margin-top: 6.25rem;  
        margin-bottom: 9.375rem; 
        align-self: flex-start; 
        margin-left: 12.5rem; 
    }

    .articuloPeliculas {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .articuloPeliculas2 {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .titulosLeerMas{
        font-size: 2rem;
        width: 18rem;
    }


    .articuloTexto{
        width: 90%;
        text-align: justify;
        
    }

    .articuloTexto p{
        font-size: 5rem;
    }

   
    .articuloTexto a {
        width: 100%;
        margin-top: 2rem;
    }


    .articuloTexto a:hover {
        transition: .5s ease;
        background-color: rgb(197, 196, 196);
        border-radius: .5rem; /* 8px */

}
  
    .contenedorHijos{
        flex-direction: row;
        margin-bottom: 12rem;
        width: 75%;
        background-color: rgba(255, 255, 255, 0.9); /* fondo blanco semitransparente */
        box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
        -webkit-box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
        -moz-box-shadow: 10px 11px 0px -2px rgba(242,54,54,0.56);
    }


    .articuloPeliculas h2 , .articuloPeliculas2 h2{
        /* border: 5px solid green;*/
        height: 100px;
    }


    .articuloPeliculas img,
    .articuloPeliculas2 img {
        max-width: 450px; /* O el tama침o que quieras para escritorio */
        height: 600px;
  }
  

  .articuloSigAnterior{
    margin-top: 4rem;
  }

    .contenedorHijosSecundario p {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    img {
        max-width: 400px;
  }

    .botonCategoriaPelicula {
        text-align: center;
        
  }


    .seccionSobreMi{
        flex-direction: column;
        margin-top: 2.5rem;
        
        
    }
    

    .contenedorSobreMi {
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem; /* 20px */
        font-size: 1.5rem;
        width: 100%;
        
    }

    .fotoPerfil {
        margin-top: -3.5rem;
        width: 18.8rem; /* 300px */
        height: 18.8rem; /* 300px */
    }

    .botonSiguienteAnterior{
        padding: .2rem 1.5rem;
        font-size: 1.75rem;
       
    }

    .botonSiguienteAnterior:hover {
    transition: .5s ease;
    background-color: rgb(197, 196, 196);

    
}
    input[type="submit"]:hover {
        transition: .5s ease;
        background-color: rgb(197, 196, 196);
        border-radius: .5rem; /* 8px */
    }

    input[type="submit"] {
    font-size: 1.25rem; /* 24px */
    cursor: pointer;
}

.listaNav:hover {
    transition: 1.5s;
    /* text-decoration: underline black solid 2px; */
    text-decoration: underline black solid 0.125rem;
    text-underline-offset: 0.375rem;
}

    #contacto {
        height: auto;
        width: 74%;
    }

    .contactoFormulario{
        width: 60%;
    }


    .contenedorHijosSecundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }

    .textoSecu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .calificacion img {
    width: 3.1rem; /* 24px */
    height: 3.1rem; /* 24px */
    vertical-align: middle;
}


    .botonSiguienteAnteriorMas:hover {
        transition: .5s ease;
        border-radius: 10rem; /* 8px */
        background-color: rgba(242,54,54,0.56);
        box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
        -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
        
    }

    .botonSiguienteAnteriorMas{
        padding-top: 0;
        padding-bottom: 0;
    }


    .categoriaTexto {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
  }
  

.categoriaHijos:hover .categoriaTexto {
    opacity: .9;
  }
.articuloPeliculas img,
.articuloPeliculas2 img {
  width: 100%;
  max-width: 450px; 
  height: 650px;
  object-fit: cover;
}

.categoriaHijos img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  

    
    .navEscritorioLista {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        list-style: none;
        padding: 0;
    }

    
    .navEscritorio p {
        margin: 0 1rem;
        text-align: center;
        display: inline-block;
        
    }

    .navEscritorioLista p{
        font-size: 1.75rem;
    }


    iframe{
        width: 100%;
        max-width: 800px;
        height: 450px;
    }

    .textoFooter{
        font-size: 1.5rem;
    }

    .footerIcono{
        width: 2.3rem; /* 48px */
        height: 2.3rem; /* 48px */
    }
  .listaNav{
    font-size: 1.75rem;
  }

  .contactoFormulario input{
    font-size: 1.05rem;
  }


}